.email-preview {
  display: flex;
  padding: .625em;
  border-block-start: var(--clr2) 1px solid;
  cursor: pointer;
  white-space: nowrap;
  min-width: 500px;
  color: var(--clr1);
}

.email-preview:hover {
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.email-preview .author-name {
  min-width: 200px;
  font-size: 1rem;
}

.email-preview .subject {

  font-size: 1rem;
}

.email-preview .body {
  flex: 1;
  font-size: 1rem;
  font-weight: unset;
  color: var(--clr3);
  overflow: hidden;
}

.email-preview .sent-at {
  padding-inline-start: .625em;
}

.email-preview .body::before {
  content: '\00A0 - ';
}

.email-preview.unread {
  background-color: var(--bgclr);
}

.email-preview.read {
  background-color: var(--clr4);
}

.email-preview.read>* {
  font-weight: unset;
}