.app-header {
  display: flex;
  padding: 5px;
  background-color: orange;
  align-items: center;
  justify-content: space-between;
}

.app-header a {
  text-decoration: none;
  color: whitesmoke;
}

.app-header nav {
  display: flex;
  gap: 1rem;
}

.app-header nav>* {
  text-decoration: none;
  color: whitesmoke;
}

.app-header nav>*:hover {
  text-decoration: none;
  color: gray;
}

.app-header nav .active {
  color: firebrick;
  cursor: default;
}