.keep-app{
    display: grid;
    grid-template-rows: 0fr 1fr ;
    max-width: 100%;
}

.keep-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10%, 40%));
    place-content: center;
}