.keep {
  background: #ffffff;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgb(175, 175, 175);
  padding: 10px;
  margin: 16px;

  display:flex;
  flex-direction: column;
}

.keep h1 {
  font-size: 1rem;
  margin-bottom: 6px;
  text-align: center;
  text-decoration: underline;
}

.keep p {
  font-size: 1rem;
  margin-bottom: 10px;
  margin-top: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  flex-grow:1;
}

.keep ul{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.edit-container{
  position: relative;
  align-self: flex-end;  
  width: 100%;
  display:flex;
  justify-content: space-around;
}

.edit-container>*{
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  position: relative;
}

.edit-container .bgc-edit-input{
  position:absolute;
  right: 0;
  opacity: 0;
}
.edit-container .bgc-edit-input:hover{
  cursor:pointer;
}
.edit-container .bgc-edit::before{
  font-family: "fa-solid";
  content: "\f53f";
  font-size: 20px;
}

.keep .del-keep::before {
  font-family: "fa-solid";
  content: "\f1f8";
  font-size: 20px;
}

