.btn-container {
  display: flex;
  padding: 1em;
  border-block-end: 1px solid var(--clr2);
  gap: 1em
}

.email-details .delete-btn {
  background: none;
  border: none;
  border-radius: 50%;
  color: var(--clr3);
  aspect-ratio: 1;
}

.email-details .delete-btn:hover {
  background-color: var(--clr2);
}

.email-details .delete-btn::before {
  font-family: 'fa-solid';
  content: '\f1f8';
  font-size: 20px;
}

.email-details .back-btn {
  background: none;
  border: none;
  border-radius: 50%;
  aspect-ratio: 1;
}

.email-details .back-btn:hover {
  background-color: var(--clr2);
}

.email-details .back-btn a {
  text-decoration: none;
  font-size: 20px;
  color: var(--clr3);
}

.email-details .back-btn a::before {
  font-family: 'fa-solid';
  content: '\f177';
}

.email-details header {
  display: flex;
  justify-content: space-between;
  padding-right: 4.5em;
  padding-left: 4.5em;
  padding-top: 2em;
  padding-bottom: 2em;
}


.email-details header div {
  display: flex;
  flex-direction: column;
}

.email-details header .author-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .625em
}

.email-details .sent-at {
  font-size: .8rem;
  font-weight: unset;
  color: var(--clr3);
}

.email-details .subject {
  font-size: 2rem;
}

.email-details .author-name {
  font-size: 1.2rem;
}

.email-details .author-email {
  font-size: 1rem;
  color: var(--clr3);
  font-weight: unset;
}

.email-details .author-email::before {
  content: '<';
}

.email-details .author-email::after {
  content: '>';
}

.email-details .body {
  padding-left: 9.75em;
  padding-right: 9.75em;
}