.email-details .btn-container {
  display: flex;
  align-items: center;
  padding: 1em;
  border-block-end: 1px solid var(--clr2);
}

.email-details .btn-container>* {
  background: none;
  border: none;
  border-radius: 50%;
  color: var(--clr3);
  font-size: 15px;
  text-decoration: none;
  color: var(--clr3);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

}

.email-details .btn-container>*:hover {
  background-color: var(--clr2);
}

.email-details .delete-btn::before {
  font-family: 'fa-solid';
  content: '\f1f8';
}

.email-details .save-btn::before {
  font-family: 'fa-solid';
  content: '\f1d8'
}

.email-details .back-btn::before {
  font-family: 'fa-solid';
  content: '\f177';
}

.email-details header {
  display: flex;
  justify-content: space-between;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
}

@media screen and (min-width: 800px) {
  .email-details header {
    padding-left: 4.5em;
    padding-right: 4.5em;
  }
}


.email-details header div {
  display: flex;
  flex-direction: column;
}

.email-details header .author-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .625em
}

.email-details .sent-at {
  font-size: .8rem;
  font-weight: unset;
  color: var(--clr3);
}

.email-details .subject {
  font-size: 2rem;
}

.email-details .author-name {
  font-size: 1.2rem;
}

.email-details .author-email {
  font-size: 1rem;
  color: var(--clr3);
  font-weight: unset;
}

.email-details .author-email::before {
  content: '<';
}

.email-details .author-email::after {
  content: '>';
}

.email-details .body {
  padding-left: 1em;
  padding-right: 1em;
}

@media screen and (min-width: 800px) {
  .email-details .body {
    padding-left: 9.75em;
    padding-right: 9.75em;
  }
}